<!-- --------------------------------------------------Forgot Password Area-------------------------------------------------- -->
<div class="forgot-password">
  <a
    class="pe-5"
    type="button"
    class="login-credentials"
    data-bs-toggle="modal"
    data-bs-target="#passwordReset"
    (click)="mailSent = false"
    >Forgot Password?</a
  >
</div>

<!-- --------------------------------------------------Forgot Password Modal-------------------------------------------------- -->
<div
  class="modal fade"
  id="passwordReset"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <!-- -------------------------Modal Header------------------------- -->
        <div class="d-flex justify-content-between">
          <h5 class="modal-title" id="staticBackdropLabel">Forgot Password</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="forgotPasswordForm?.reset()"
          ></button>
        </div>
        <!-- -------------------------End of Modal Header------------------------- -->

        <!-- -------------------------Forgot Password Form------------------------- -->
        <div *ngIf="!mailSent">
          <form
            #forgotPasswordForm="ngForm"
            (ngSubmit)="sendLink(forgotPasswordForm)"
          >
            <!-- -------------------------Email Field------------------------- -->
            <div class="mb-1">
              <label for="email" class="form-label"
                >Email<span class="mandate">*</span></label
              >
              <input
                type="email"
                name="email"
                class="form-control"
                ngModel
                #email="ngModel"
                required
                [ngClass]="{ 'is-invalid': email.touched && email.invalid }"
                pattern="^[a-z0-9][a-z0-9._]{3,}@[a-z0-9]{3,}.[a-z]{2,}(?:.[a-z]{2,})?$"
              />
              <!-- -------------------------Email Warning (Required)------------------------- -->
              <div *ngIf="email.errors?.required">
                <div
                  *ngIf="email.touched && email.invalid"
                  id="emailWarning"
                  class="validation"
                >
                  Email is required
                </div>
              </div>
              <!-- -------------------------Email Warning (Pattern)------------------------- -->
              <div *ngIf="email.errors?.pattern">
                <div
                  class="alert alert-danger"
                  *ngIf="email.touched && email.invalid"
                  id="emailWarning"
                  class="validation"
                >
                  Email pattern is not matched
                </div>
              </div>
            </div>
            <!-- -------------------------Email Field------------------------- -->

            <!-- -------------------------Submit Button------------------------- -->
            <div class="button-group d-flex">
              <div class="button">
                <button
                  type="submit"
                  [disabled]="forgotPasswordForm.invalid"
                  class="btn nav-item"
                  data-type="admin"
                >
                  Send Link
                </button>
              </div>
            </div>
            <!-- -------------------------End of Submit Button------------------------- -->
          </form>
        </div>
        <!-- -------------------------End of Forgot Password Form------------------------- -->

        <!-- -------------------------Mail Sent Message------------------------- -->
        <div *ngIf="mailSent" class="my-3">
          <p>
            Password Reset Link is sent to you email. Reset the password and
            Login
          </p>
        </div>
        <!-- -------------------------End of Mail Sent Message------------------------- -->
      </div>
    </div>
  </div>
</div>
<!-- --------------------------------------------------End of Forgot Password Area-------------------------------------------------- -->
