<!-- --------------------------------------------------Main Area-------------------------------------------------- -->
<main>
  <h1 id="pageTitle">{{ requiredCourse.courseName }}</h1>
  <h2>Create {{ moduleInfo }} Feedback</h2>
  <p class="mb-0"><b>Instructor:</b> {{ requiredCourse.instructorName }}</p>

  <!-- --------------------------------------------------Form Area-------------------------------------------------- -->
  <app-feedback-questions [route]="route"></app-feedback-questions>
  <!-- --------------------------------------------------End of Form Area-------------------------------------------------- -->
</main>
<!-- --------------------------------------------------End of Main Area-------------------------------------------------- -->
