<!-- --------------------------------------------------Router Outlet-------------------------------------------------- -->
<router-outlet></router-outlet>
<!-- --------------------------------------------------End of Router Outlet-------------------------------------------------- -->

<!-- --------------------------------------------------Footer-------------------------------------------------- -->
<app-footer></app-footer>
<!-- --------------------------------------------------End of Footer-------------------------------------------------- -->
