<!-- --------------------------------------------------Main Area-------------------------------------------------- -->
<main class="home container-fluid d-flex" id="pageTitle">
  <!-- --------------------------------------------------Brand Area-------------------------------------------------- -->
  <div class="title row">
    <div class="logo mx-auto">
      <img src="../../assets/img/logo.png" alt="logo" class="img-fluid" />
    </div>
    <p>
      Welcome to EduReview360, your gateway to data-driven education excellence.
      Sign in to access powerful insights and drive continuous improvement in
      your training programs.
    </p>
  </div>
  <!-- --------------------------------------------------End of Brand Area-------------------------------------------------- -->

  <!-- --------------------------------------------------Form Area-------------------------------------------------- -->
  <div class="enter row">
    <h2 class="enter-title">Login</h2>
    <div class="form col-lg-11 mx-auto">
      <app-login-form [userLogin]="true"></app-login-form>
    </div>

    <!-- --------------------------------------------------Testing Credentials-------------------------------------------------- -->
    <a
      type="button"
      class="login-credentials mt-0"
      data-bs-toggle="modal"
      data-bs-target="#credentialModal"
      >Click to View Login Credentials</a
    >
    <!-- -------------------------Credential Modal------------------------- -->
    <div
      class="modal fade"
      id="credentialModal"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="credentialLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <div class="d-flex justify-content-between">
              <h1 class="modal-title fs-5" id="credentialModalLabel">
                Login Credentials
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <br />
            <div class="login-credentials">
              <dl>
                <dt>Participant</dt>
                <dd><b>Username:</b> samuel_roberts&#64;edureview360.org</dd>
                <dd><b>Password:</b> samuelRoberts_360</dd>
                <dd><b>Username:</b> emily_carter&#64;edureview360.org</dd>
                <dd><b>Password:</b> emilyCarter_360</dd>
                <br />
                <dt>Instructor</dt>
                <dd><b>Username:</b> maria_campbell&#64;edureview360.org</dd>
                <dd><b>Password:</b> mariaCampbell_360</dd>
                <dd><b>Username:</b> jonathan_baker&#64;edureview360.org</dd>
                <dd><b>Password:</b> jonathanBaker_360</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- -------------------------End of Credential Modal------------------------- -->
    <a routerLink="/admin" fragment="pageTitle" class="login-credentials mt-0"
      >Click to Login as Admin</a
    >
    <!-- --------------------------------------------------End of Testing Credentials-------------------------------------------------- -->
  </div>
  <!-- --------------------------------------------------End Form Area-------------------------------------------------- -->
</main>
<!-- --------------------------------------------------End of Main Area-------------------------------------------------- -->
