// General Styles
@mixin flex {
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

// Styles Common to all Pages - Header & Footer
@mixin header-footer {
  background-color: $blue;
  color: $light;
  font-size: 1.25rem;
  text-align: center;
  height: 90px;
  padding: 0 15px;
}
// Main Area
// Button
@mixin button {
  margin: 20px auto 10px;
  letter-spacing: 0.05em;
  .nav-item {
    padding: 7px 15px;
    border: 2px solid $blue;
    background-color: $blue;
    color: $light;
    font-size: 0.75em;
    &:hover {
      cursor: pointer;
      box-shadow: 2px 2px 5px $blue;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

@mixin button-group {
  justify-content: center;
  flex-wrap: nowrap;
  gap: 30px;
}

// Form
// Text Input and Textarea
@mixin textinput {
  margin-top: 5px;
  padding: 7px 15px;
  font-size: 0.9em;
  width: 100%;
  color: $dark;
  outline: none;
  border: 2px solid $blue;
  background-color: darken($color: $light, $amount: 5%);
  &:focus {
    outline: 2px solid $blue;
    background-color: darken($color: $light, $amount: 10%);
  }
  &::placeholder {
    color: lighten($color: $dark, $amount: 10%);
    font-size: 0.85em;
  }
}
// Checkbox and Radio Button
@mixin checkboxinput {
  vertical-align: middle;
  margin-right: 10px;
  accent-color: $blue;
  scale: (1.2);
}

// Course Area
@mixin coursearea {
  min-height: calc(100vh - 90px);
  flex-direction: column;
  justify-content: center;
}
