<!-- --------------------------------------------------Main Area------------------------- -->
<main class="course-area d-flex">
  <!-- --------------------------------------------------Hero Section-------------------------------------------------- -->
  <h1 id="pageTitle">{{ requiredCourse.courseName }}</h1>
  <div class="course-content">
    <img
      src="{{ requiredCourse.imgSrc }}"
      alt="{{ requiredCourse.courseName }}"
      class="img-fluid"
    />
  </div>
  <!-- --------------------------------------------------End of Hero Section-------------------------------------------------- -->
</main>
<!-- --------------------------------------------------End of Main Area-------------------------------------------------- -->
